<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link  href="css/styles.css" rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body>
    <header>
        <img width="200px" src="/images/logo-mercado-liebre.svg">
        <br>
        <input type="text" name="searchbar" value="Buscar productos, marcas">
        <br>
        <i class="fa-solid fa-magnifying-glass"></i>
        <br>
        <p> <i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href "#"> Ofertas </a></li>
                <li><a href "#"> Tiendas Oficiales </a></li>
                <li><a href "#"> Vender </a></li>
                <li><a href "#"> Ayuda </a></li>

            </ul>
            <ul>
                <li><a href "#"> Creá tu cuenta  </a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href "#"> Ingresá </a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href "#"> Mis compras </a> <i class="fa-solid fa-cart-plus"></i></li> 

            </ul>
        </nav>
    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
    </header>

<main>
    <section>
        <h2>Basado en tu ultima visita </h2> 

        <article>
            <img width="200px" src="images\img-cafetera-moulinex.jpg">
            <div class="Caja-articulo"> 
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones">Cafetera Moulinex</p>
             </div>
        </article>
        <article>
            <img width="200px" src="images\img-macbook-pro-2019.jpg">
            <div class="Caja-articulo">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones">MacBook Pro 2019</p>
            </div>
        </article>
       
        <article>
            <img width="200px" src="images\img-samsung-galaxy-s10.jpg">
            <div class="Caja-articulo">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <p class="descripciones">Samsung Galaxy S10</p>
            </div>
        </article>
    
    </section>

    <section>
        <h2>Ofertas</h2> 

        <article>
            <img width="200px" src="images\img-cafetera-moulinex.jpg">
            <div class="Caja-articulo">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precios">$6.770</p>
            <p class="descuentos">40% OFF</p>
            <p class="descripciones">Cafetera Moulinex</p>
            </div>
        </article>
        <article>
            <img width="200px" src="images\img-macbook-pro-2019.jpg">
            <div class="Caja-articulo"> 
            <i class="fa-solid fa-truck-fast"></i> 
            <p class="precios">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones">MacBook Pro 2019</p>
            </div>
        </article>
       
        <article>
            <img width="200px" src="images\img-samsung-galaxy-s10.jpg">
            <div class="Caja-articulo">
            <i class="fa-solid fa-truck-fast"></i>
            <p class="precios">$70.500</p>
            <p class="descuentos">10% off</p>
            <p class="descripciones">Samsung Galaxy S10</p>
            </div>
        </article>
    
    </section>
</main>

<footer>
    <ul>
        <li> <i class="fa-solid fa-credit-card"></i>
            <br>
             <b> Pagá con tarjeta o en efectivo  </b>
            <br>
             <p class="cuerpo"> Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!></p>
        </li>
        <br>
        <li> <i class="fa-solid fa-gift"></i>
            <br>
            <b> Envío gratis desde $ 2.500  </b>
            <br>
            <p class="cuerpo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        </li>
        <br>
        <li> <i class="fa-solid fa-shield"></i>
            <br>
            <b> Seguridad, de principio a fin  </b>
            <br>
            <p class="cuerpo"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@. </p>
        </li>
        <br>
        <li> <b> Copyright © 1999-2020 MercadoLiebre S.R.L. </b>
        </li>
 </footer>
</body>
</html>