@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body { 
    font-family: 'Roboto', sans-serif;
    background-color: #EAC926
    };

   
    h2 { font-size: 24px;

    }
    .precios {font-size: 18px;}
    .descuentos {font-size: 16px;}
    .descripciones {font-size: 16px;}
    .cuerpo {font-size: 12px;}
    .burger-menu { 
        color: white;
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #1259c3;;
        box-sizing: border-box;
        border-radius: 3px;
        margin-left: 50%;
            
    }
    footer {text-align: center;}
    main { width: 90vw;
     background-color:#ebebeb;}
     section {
       
        text-align: center;}
    article {
        width: 200px;
        
        margin-top: 10px;
        margin-bottom: 10px;
    }